########################################
## <summary>
##      Execute a domain transition to run ossec.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to transition.
##      </summary>
## </param>
#
interface(`ossec_domtrans',`
        gen_require(`
                type ossec_t, ossec_exec_t;
                type httpd_t, httpd_exec_t;
                role system_r;
        ')

        domain_type(ossec_t)
        domain_entry_file(ossec_t, ossec_exec_t)

        role system_r types ossec_t;

        domtrans_pattern($1, ossec_exec_t, ossec_t)
')

########################################
## <summary>
##      Read ossec log files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read log files.
##      </summary>
## </param>
#
interface(`ossec_log_filetrans',`
	gen_require(`
    		type var_t;
		type ossec_var_t, ossec_log_t;
	')

    	allow $1 var_t:dir search_dir_perms;
	allow $1 ossec_log_t:dir { search_dir_perms create_dir_perms };
	filetrans_pattern($1, ossec_log_t, $2, $3, $4)
')

########################################
## <summary>
##      Write ossec stat files.
## </summary>
## <param name="domain">
##      <summary>
##      Allow appending to the existing stats file
##      </summary>
## </param>
#
interface(`ossec_manage_stats',`
    	gen_require(`
        	type var_t;
        	type ossec_stats_t;
    	')

    	allow $1 var_t:dir search_dir_perms;
    	append_files_pattern($1, ossec_stats_t, ossec_stats_t)
')

########################################
## <summary>
##      Read ossec pid files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read pid files.
##      </summary>
## </param>
#
interface(`ossec_pid_filetrans',`
	gen_require(`
        type var_t;
		type ossec_var_t, ossec_var_run_t;
	')

    	allow $1 var_t:dir search_dir_perms;
	allow $1 ossec_var_t:dir search_dir_perms;
	allow $1 ossec_var_run_t:lnk_file read_lnk_file_perms;
	filetrans_pattern($1, ossec_var_run_t, $2, $3, $4)
')

########################################
## <summary>
##      Allow trans to ossec queue.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access
##      </summary>
## </param>
#
interface(`ossec_queue_filetrans',`
    	gen_require(`
        	type var_t;
        	type ossec_queue_t;
    	')

    	allow $1 var_t:dir search_dir_perms;
    	allow $1 ossec_queue_t:dir search_dir_perms;
    	filetrans_pattern($1, ossec_queue_t, $2, $3, $4)
')

########################################
## <summary>
##      Read ossec config files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read the config files.
##      </summary>
## </param>
#
interface(`ossec_read_config',`
	gen_require(`
        type var_t;
		type ossec_etc_t;
	')

    	allow $1 var_t:dir search_dir_perms;
    	#allow $1 ossec_etc_t:dir search_dir_perms;
	read_lnk_files_pattern($1, ossec_etc_t, configfile)
    	files_read_config_files($1, ossec_etc_t)
')

########################################
## <summary>
##      Read ossec log files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read the log files.
##      </summary>
## </param>
#
interface(`ossec_read_logs',`
        gen_require(`
                type var_t;
                type ossec_log_t;
        ')

        allow $1 var_t:dir search_dir_perms;
        #read_files_pattern($1, ossec_log_t, ossec_log_t)
        read_files_pattern($1, ossec_log_t, logfile)
        #allow $1 ossec_log_t:dir search_dir_perms
        #logging_search_logs($1)
        #allow $1 ossec_log_t:file read_file_perms;
')

########################################
## <summary>
##      Write ossec log files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to write the log files.
##      </summary>
## </param>
#
#interface(`ossec_write_log',`
#        gen_require(`
#                type ossec_log_t;
#        ')
#
#        allow $1 ossec_log_t:file write;
#')

########################################
## <summary>
##      Read ossec stat files.
## </summary>
## <param name="domain">
##      <summary>
##      Allow reading of ossec repsonse stats
##      </summary>
## </param>
#
interface(`ossec_read_stats',`
    	gen_require(`
        	type var_t;
        	type ossec_stats_t;
    	')

    	allow $1 var_t:dir search_dir_perms;
    	read_files_pattern($1, ossec_stats_t, ossec_stats_t)
')

#interface(`ossec_read_shared_config',`
#	gen_require(`
#        type var_t;
#		type ossec_etc_t;
#		#type ossec_etc_share_t;
#	')
#
#	allow $1 var_t:dir search_dir_perms;
#    	allow $1 ossec_etc_t:dir search_dir_perms;
#    	#allow $1 ossec_etc_share_t:dir search_dir_perms;
#    	allow $1 ossec_etc_share_t:file read_file_perms;
#    	#allow $1 ossec_analysisd_file_t:file read_file_perms;
#	#search_dirs_pattern($1, ossec_etc_t, ossec_etc_t)
#	#search_dirs_pattern($1, ossec_etc_share_t, ossec_etc_share_t)
#	#read_files_pattern($1, ossec_etc_share_t, ossec_etc_share_t)
#')

########################################
## <summary>
##      Read ossec queue files.
## </summary>
## <param name="domain">
##      <summary>
##      Allow reading queue files that are next to be scanned
##      </summary>
## </param>
#
interface(`ossec_read_queue',`
    	gen_require(`
        	type var_t;
        	type ossec_queue_t;
    	')

    	allow $1 var_t:dir search_dir_perms;
    	allow $1 ossec_queue_t:dir list_dir_perms;
    	allow $1 ossec_queue_t:file read_file_perms;
    	allow $1 ossec_remoted_file_t:dir list_dir_perms;
    	allow $1 ossec_remoted_file_t:file read_file_perms;
    	allow $1 ossec_analysisd_file_t:dir list_dir_perms;
    	allow $1 ossec_analysisd_file_t:file read_file_perms;
    	#read_files_pattern($1, ossec_queue_t, ossec_queue_t)
')

########################################
## <summary>
##      Allow trans to ossec tmp.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access
##      </summary>
## </param>
#
interface(`ossec_tmp_filetrans',`
    	gen_require(`
        	type var_t;
        	type ossec_tmp_t;
    	')

    	allow $1 var_t:dir search_dir_perms;
    	allow $1 ossec_tmp_t:dir search_dir_perms;
    	filetrans_pattern($1, ossec_tmp_t, $2, $3, $4)
')

#interface(`ossec_manage_shared_config',`
#	gen_require(`
#		type ossec_etc_t;
#		type ossec_etc_share_t;
#	')
#
#	search_dirs_pattern($1, ossec_etc_t, ossec_etc_t)
#	search_dirs_pattern($1, ossec_etc_share_t, ossec_etc_share_t)
#	manage_files_pattern($1, ossec_etc_share_t, ossec_etc_share_t)
#')





